In [84]:
import numpy as np
import pandas as pd
from pyinform import *

In [85]:
SectorReturns = pd.read_csv("NormalisedSectorReturns.csv", index_col=0)
print(SectorReturns.shape)
SectorReturns.head()

(5291, 10)

,Energy,Materials,Financials,Consumer Staples,Consumer Discretionary,Utilities,Telecommunications Services,Information Technology,Industrials,Health Care
Date,,,,,,,,,,
1992-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
DF = SectorReturns.dropna()
DF.head()

,Energy,Materials,Financials,Consumer Staples,Consumer Discretionary,Utilities,Telecommunications Services,Information Technology,Industrials,Health Care
Date,,,,,,,,,,
1992-02-25,0.598655,-0.362595,-1.813326,-0.608180,-0.314499,-1.131099,-1.320868,-2.456540,0.725513,-1.709158
1992-02-26,1.482999,-0.536391,-1.203702,0.689234,1.158635,-0.013335,-0.304987,-1.497377,1.245510,0.459472
1992-02-27,1.932779,0.151317,0.188633,-0.021304,0.493030,-0.020952,-0.525962,-1.382264,0.621771,0.212791
1992-02-28,2.264313,0.003429,0.687197,0.274232,0.662564,-0.456263,-0.332417,-1.703039,0.413180,-0.870169
1992-03-02,1.119821,1.108068,1.012923,0.143172,0.636739,-0.686971,-0.686194,-1.379845,0.883358,-1.242292

In [87]:
for i in DF.columns:
    ts = DF[i]
    print(i, min(ts), max(ts))
    print(pd.qcut(ts, 5))
    print(" # # # # # # # ")

Energy -5.864528040336879 6.492276683616787
Date
1992-02-25                  (-0.293, 0.659]
1992-02-26                   (0.659, 1.515]
1992-02-27                   (1.515, 6.492]
1992-02-28                   (1.515, 6.492]
1992-03-02                   (0.659, 1.515]
                          ...
2012-12-24                  (-0.293, 0.659]
2012-12-26                  (-0.293, 0.659]
2012-12-27                 (-1.231, -0.293]
2012-12-28    (-5.8660000000000005, -1.231]
2012-12-31                  (-0.293, 0.659]
Name: Energy, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-5.8660000000000005, -1.231] < (-1.231, -0.293] < (-0.293, 0.659] < (0.659, 1.515] < (1.515, 6.492]]
 # # # # # # #
Materials -9.843866063490458 6.922449313534987
Date
1992-02-25    (-1.203, -0.164]
1992-02-26    (-1.203, -0.164]
1992-02-27      (-0.164, 0.76]
1992-02-28      (-0.164, 0.76]
1992-03-02       (0.76, 1.543]
                    ...
2012-12-24       (0.76, 1.543]
2012-12-26       (0.76, 1.543]
2012-12-27       (0.76, 1.543]
2012-12-28      (-0.164, 0.76]
2012-12-31       (0.76, 1.543]
Name: Materials, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-9.844999999999999, -1.203] < (-1.203, -0.164] < (-0.164, 0.76] < (0.76, 1.543] < (1.543, 6.922]]
 # # # # # # #
Financials -11.48870328555263 6.701529551011732
Date
1992-02-25    (-11.49, -1.169]
1992-02-26    (-11.49, -1.169]
1992-02-27     (-0.105, 0.761]
1992-02-28     (-0.105, 0.761]
1992-03-02      (0.761, 1.493]
                    ...
2012-12-24      (0.761, 1.493]
2012-12-26     (-0.105, 0.761]
2012-12-27     (-0.105, 0.761]
2012-12-28    (-1.169, -0.105]
2012-12-31     (-0.105, 0.761]
Name: Financials, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-11.49, -1.169] < (-1.169, -0.105] < (-0.105, 0.761] < (0.761, 1.493] < (1.493, 6.702]]
 # # # # # # #
Consumer Staples -16.099296404478356 5.82297960619498
Date
1992-02-25    (-1.046, -0.0219]
1992-02-26     (-0.0219, 0.781]
1992-02-27     (-0.0219, 0.781]
1992-02-28     (-0.0219, 0.781]
1992-03-02     (-0.0219, 0.781]
                    ...
2012-12-24      (-16.1, -1.046]
2012-12-26      (-16.1, -1.046]
2012-12-27      (-16.1, -1.046]
2012-12-28      (-16.1, -1.046]
2012-12-31      (-16.1, -1.046]
Name: Consumer Staples, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-16.1, -1.046] < (-1.046, -0.0219] < (-0.0219, 0.781] < (0.781, 1.524] < (1.524, 5.823]]
 # # # # # # #
Consumer Discretionary -11.662135433421692 7.619859134942571
Date
1992-02-25    (-1.117, -0.0654]
1992-02-26       (0.828, 1.531]
1992-02-27     (-0.0654, 0.828]
1992-02-28     (-0.0654, 0.828]
1992-03-02     (-0.0654, 0.828]
                    ...
2012-12-24    (-1.117, -0.0654]
2012-12-26    (-11.663, -1.117]
2012-12-27    (-11.663, -1.117]
2012-12-28    (-11.663, -1.117]
2012-12-31     (-0.0654, 0.828]
Name: Consumer Discretionary, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-11.663, -1.117] < (-1.117, -0.0654] < (-0.0654, 0.828] < (0.828, 1.531] < (1.531, 7.62]]
 # # # # # # #
Utilities -6.802730575909828 6.958239270349011
Date
1992-02-25     (-6.804, -1.055]
1992-02-26     (-0.0178, 0.857]
1992-02-27    (-1.055, -0.0178]
1992-02-28    (-1.055, -0.0178]
1992-03-02    (-1.055, -0.0178]
                    ...
2012-12-24     (-0.0178, 0.857]
2012-12-26     (-6.804, -1.055]
2012-12-27     (-6.804, -1.055]
2012-12-28     (-6.804, -1.055]
2012-12-31    (-1.055, -0.0178]
Name: Utilities, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-6.804, -1.055] < (-1.055, -0.0178] < (-0.0178, 0.857] < (0.857, 1.615] < (1.615, 6.958]]
 # # # # # # #
Telecommunications Services -5.942598422152075 7.220236434426456
Date
1992-02-25    (-5.944, -1.232]
1992-02-26    (-1.232, -0.239]
1992-02-27    (-1.232, -0.239]
1992-02-28    (-1.232, -0.239]
1992-03-02    (-1.232, -0.239]
                    ...
2012-12-24    (-5.944, -1.232]
2012-12-26    (-5.944, -1.232]
2012-12-27    (-5.944, -1.232]
2012-12-28    (-5.944, -1.232]
2012-12-31    (-1.232, -0.239]
Name: Telecommunications Services, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-5.944, -1.232] < (-1.232, -0.239] < (-0.239, 0.647] < (0.647, 1.46] < (1.46, 7.22]]
 # # # # # # #
Information Technology -5.869059065791958 5.520018254012794
Date
1992-02-25     (-5.87, -1.182]
1992-02-26     (-5.87, -1.182]
1992-02-27     (-5.87, -1.182]
1992-02-28     (-5.87, -1.182]
1992-03-02     (-5.87, -1.182]
                    ...
2012-12-24     (-0.173, 0.757]
2012-12-26     (-0.173, 0.757]
2012-12-27    (-1.182, -0.173]
2012-12-28     (-5.87, -1.182]
2012-12-31     (-0.173, 0.757]
Name: Information Technology, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-5.87, -1.182] < (-1.182, -0.173] < (-0.173, 0.757] < (0.757, 1.527] < (1.527, 5.52]]
 # # # # # # #
Industrials -7.774909430107144 6.360265358642884
Date
1992-02-25                (-0.0323, 0.861]
1992-02-26                  (0.861, 1.577]
1992-02-27                (-0.0323, 0.861]
1992-02-28                (-0.0323, 0.861]
1992-03-02                  (0.861, 1.577]
                          ...
2012-12-24                (-0.0323, 0.861]
2012-12-26                (-0.0323, 0.861]
2012-12-27                (-0.0323, 0.861]
2012-12-28    (-7.776000000000001, -1.057]
2012-12-31                  (0.861, 1.577]
Name: Industrials, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-7.776000000000001, -1.057] < (-1.057, -0.0323] < (-0.0323, 0.861] < (0.861, 1.577] < (1.577, 6.36]]
 # # # # # # #
Health Care -8.758022920852346 5.955397236545594
Date
1992-02-25    (-8.758999999999999, -1.067]
1992-02-26                (-0.0796, 0.848]
1992-02-27                (-0.0796, 0.848]
1992-02-28               (-1.067, -0.0796]
1992-03-02    (-8.758999999999999, -1.067]
                          ...
2012-12-24               (-1.067, -0.0796]
2012-12-26    (-8.758999999999999, -1.067]
2012-12-27    (-8.758999999999999, -1.067]
2012-12-28    (-8.758999999999999, -1.067]
2012-12-31               (-1.067, -0.0796]
Name: Health Care, Length: 5124, dtype: category
Categories (5, interval[float64, right]): [(-8.758999999999999, -1.067] < (-1.067, -0.0796] < (-0.0796, 0.848] < (0.848, 1.561] < (1.561, 5.955]]
 # # # # # # #

In [88]:
ts

Date
1992-02-25   -1.709158
1992-02-26    0.459472
1992-02-27    0.212791
1992-02-28   -0.870169
1992-03-02   -1.242292
                ...
2012-12-24   -0.456415
2012-12-26   -1.302408
2012-12-27   -1.603746
2012-12-28   -3.201348
2012-12-31   -0.892309
Name: Health Care, Length: 5124, dtype: float64

In [89]:
pd.qcut(ts, 5, labels= range(5))

Date
1992-02-25    0
1992-02-26    2
1992-02-27    2
1992-02-28    1
1992-03-02    0
             ..
2012-12-24    1
2012-12-26    0
2012-12-27    0
2012-12-28    0
2012-12-31    1
Name: Health Care, Length: 5124, dtype: category
Categories (5, int64): [0 < 1 < 2 < 3 < 4]

# Get Quantile-Binning

In [90]:
q = 100
QDF = pd.DataFrame()

for i in DF.columns:
    ts = DF[i]
    QDF[i] = pd.qcut(ts, q, labels=range(q))

def QuantileBin(DF, q):
    out = pd.DataFrame()

    for i in DF.columns:
        x = DF[i]
        out[i] = pd.qcut(x, q, labels = range(q))
    return(out)

QDF = QuantileBin(DF, 100)

In [91]:
QDF

,Energy,Materials,Financials,Consumer Staples,Consumer Discretionary,Utilities,Telecommunications Services,Information Technology,Industrials,Health Care
Date,,,,,,,,,,
1992-02-25,58,35,9,28,35,18,18,3,56,10
1992-02-26,79,32,19,57,69,40,38,14,70,50
1992-02-27,88,46,45,40,51,39,34,16,54,45
1992-02-28,92,43,58,46,56,31,38,11,49,23
1992-03-02,71,68,66,43,55,26,30,16,60,16
...,...,...,...,...,...,...,...,...,...,...
2012-12-24,42,76,64,6,32,42,13,54,59,32
2012-12-26,40,75,51,0,6,12,15,42,50,15
2012-12-27,34,63,44,4,18,11,17,36,46,11
2012-12-28,16,42,29,1,5,3,4,8,18,1
2012-12-31,48,75,50,19,48,29,23,46,64,22

# Transfer Entropy

Via package pyinform in https://www.researchgate.net/publication/323135385_Inform_A_toolkit_for_information-theoretic_analysis_of_complex_systems

cite at
https://ieeexplore.ieee.org/document/8285197

Documentation:
https://elife-asu.github.io/PyInform/_modules/pyinform/transferentropy.html

In [92]:
m = QDF.shape[1]
Causality = np.zeros((m,m))

for i in range(m):
    for j in range(m):
        I, J = QDF.columns[i], QDF.columns[j]
        Cij = transfer_entropy(source=QDF[I],
                            target = QDF[J], k=1)
        print(i,j,Cij)
        Causality[i,j] = Cij

0 0 0.0
0 1 4.274234589058012
0 2 4.351672776373434
0 3 4.466346194425987
0 4 4.325586709347523
0 5 4.3682831718731165
0 6 4.418221714309074
0 7 4.34236922195241
0 8 4.320203739143183
0 9 4.384748627905883
1 0 4.311581623601302
1 1 0.0
1 2 4.263197174479116
1 3 4.381083875663435
1 4 4.167382330048337
1 5 4.334758165829405
1 6 4.369080044960008
1 7 4.262446785921972
1 8 4.089265582660428
1 9 4.338400407254659
2 0 4.349761270962446
2 1 4.2252055142819325
2 2 0.0
2 3 4.330609781488786
2 4 4.144038445800519
2 5 4.325984212005895
2 6 4.346227825851218
2 7 4.298623861629563
2 8 4.127136172555445
2 9 4.271529360663465
3 0 4.399931678801401
3 1 4.280298142887288
3 2 4.265620684022458
3 3 0.0
3 4 4.222401886802309
3 5 4.324472511859819
3 6 4.358593460065823
3 7 4.339322387073094
3 8 4.227605699146251
3 9 4.235591389768162
4 0 4.339967279911437
4 1 4.150367500852426
4 2 4.168676195697374
4 3 4.303587369243001
4 4 0.0
4 5 4.336893896841335
4 6 4.366070282732973
4 7 4.190648495880405
4 8 4.022722561573684
4 9 4.264992950715688
5 0 4.3576282122806065
5 1 4.291050530467792
5 2 4.319929502214568
5 3 4.381941005526525
5 4 4.313272599067874
5 5 0.0
5 6 4.322615934225756
5 7 4.353887275227448
5 8 4.302940987824283
5 9 4.346815181990772
6 0 4.396000590476711
6 1 4.308731094079962
6 2 4.322308950159567
6 3 4.399273285588278
6 4 4.323222248301559
6 5 4.3080739525941505
6 6 0.0
6 7 4.340105631867281
6 8 4.316212543725518
6 9 4.356764018006925
7 0 4.3406446114748425
7 1 4.219809913006033
7 2 4.299400167066324
7 3 4.400012638697628
7 4 4.174204580212046
7 5 4.364916958229176
7 6 4.366605441630848
7 7 0.0
7 8 4.159284635486957
7 9 4.323612089351423
8 0 4.331978057406371
8 1 4.072998853505204
8 2 4.142192199237363
8 3 4.303061759268665
8 4 4.022996435664169
8 5 4.328007348444809
8 6 4.358163263490833
8 7 4.177492319460288
8 8 0.0
8 9 4.261753187691145
9 0 4.36682664710244
9 1 4.285864165673296
9 2 4.252395715253439
9 3 4.279590551564005
9 4 4.226834455565388
9 5 4.342280934545194
9 6 4.364819770931965
9 7 4.303216051251922
9 8 4.226149283216242
9 9 0.0

In [93]:
Causality - Causality.T

array([[ 0.        , -0.03734703,  0.00191151,  0.06641452, -0.01438057,
         0.01065496,  0.02222112,  0.00172461, -0.01177432,  0.01792198],
       [ 0.03734703,  0.        ,  0.03799166,  0.10078573,  0.01701483,
         0.04370764,  0.06034895,  0.04263687,  0.01626673,  0.05253624],
       [-0.00191151, -0.03799166,  0.        ,  0.0649891 , -0.02463775,
         0.00605471,  0.02391888, -0.00077631, -0.01505603,  0.01913365],
       [-0.06641452, -0.10078573, -0.0649891 ,  0.        , -0.08118548,
        -0.05746849, -0.04067983, -0.06069025, -0.07545606, -0.04399916],
       [ 0.01438057, -0.01701483,  0.02463775,  0.08118548,  0.        ,
         0.0236213 ,  0.04284803,  0.01644392, -0.00027387,  0.0381585 ],
       [-0.01065496, -0.04370764, -0.00605471,  0.05746849, -0.0236213 ,
         0.        ,  0.01454198, -0.01102968, -0.02506636,  0.00453425],
       [-0.02222112, -0.06034895, -0.02391888,  0.04067983, -0.04284803,
        -0.01454198,  0.        , -0.02649981, -0.04195072, -0.00805575],
       [-0.00172461, -0.04263687,  0.00077631,  0.06069025, -0.01644392,
         0.01102968,  0.02649981,  0.        , -0.01820768,  0.02039604],
       [ 0.01177432, -0.01626673,  0.01505603,  0.07545606,  0.00027387,
         0.02506636,  0.04195072,  0.01820768,  0.        ,  0.0356039 ],
       [-0.01792198, -0.05253624, -0.01913365,  0.04399916, -0.0381585 ,
        -0.00453425,  0.00805575, -0.02039604, -0.0356039 ,  0.        ]])

In [94]:
# Random Transfer Entropy
np.random.seed(1234)
print(QDF[I])
print(np.random.permutation(QDF[I].values))

Date
1992-02-25    10
1992-02-26    50
1992-02-27    45
1992-02-28    23
1992-03-02    16
              ..
2012-12-24    32
2012-12-26    15
2012-12-27    11
2012-12-28     1
2012-12-31    22
Name: Health Care, Length: 5124, dtype: category
Categories (100, int64): [0 < 1 < 2 < 3 ... 96 < 97 < 98 < 99]
[42 29 31 ... 90 75 97]